td {
	width: 70px;
	height: 70px;
	font-weight: bold;
	text-align: center;
	background-color: white;
}

table {
	font-size: 50px;
	border-collapse: collapse;
}

body {
	display: flex;
	justify-content: center;
}

#selectChess {
	position: absolute;
	z-index: 1;
	border: 1px solid black;
	background-color: silver;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	display: none;
	grid-template: repeat(4, auto) / repeat(4, 70px);
	font-size: 50px;
	text-align: center;
}

#whiteCaptured, #blackCaptured {
	margin: 0 auto;
	display: grid;
	grid-template: repeat(8, 70px) / 70px 70px;
	font-size: 50px;
}

.black {background-color: grey;}

.remas {
	font-size: 20px;
	height: 25px;
	width: 25px;
	background-color: green;
}

.apverstas{transform: rotate(180deg);}

.apsuktas{transform: rotate(90deg);}

.pasuktas{transform: rotate(-90deg);}

.play {
	text-align: center;
	margin: 10px;
}

.yellow {color: yellow;}

.blackt {color: black;}

.selected {color: red;}